### Introduction

In [1]:
import pandas as pd

df = pd.read_csv("movies.csv")

In [2]:
df.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

In [3]:
df.shape

(7668, 15)

In [4]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

### Activities

##### 1. Create a new column `revenue`

In [5]:
df['revenue'] = df['gross'] - df['budget']
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0

##### 2. Create a new column `percentage_profit`

In [6]:
df['percentage_profit'] = df['revenue'] / df['gross'] * 100
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157

##### 3. Create a new column `high_budget_movie`

In [7]:
df['high_budget_movie'] = df['budget'] > 100_000_000
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False

##### 4. Create a new column `successful_movie`

In [8]:
df['successful_movie'] = df['percentage_profit'] > 50
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True

##### 5. High-Rated Movies

In [9]:
df['high_rated_movie'] = df['score'] > 8
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False

##### 6. Create a new column `is_new_release`

In [10]:
df['is_new_release'] = df['year'] > 2020
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False

##### 7. Create a new column `is_long_movie`

In [11]:
df['is_long_movie'] = df['runtime'] > 150
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False

##### 8. Drop unsuccessful movie.

In [12]:
df = df[df['successful_movie']]

##### 9. Drop high budget movie.

In [13]:
print(df.shape)
low_budget_df = df.drop(df[df['budget'] > 100_000_000].index)
low_budget_df.shape

(2573, 22)

(2305, 22)

##### 10. Removing Low-Voted Movies

In [14]:
print(df.shape)
high_voted_df = df.drop(df[df['votes'] < 1000].index)
high_voted_df.shape

(2573, 22)

(2568, 22)

##### 11. Drop the column `budget`

In [15]:
print(df.shape)
df.drop('budget',axis=1,inplace=True)
df.shape

(2573, 22)

(2573, 21)

##### 12. Drop the `director` and `writer` columns from the dataframe.

In [16]:
print(df.shape)
new_df = df.drop(['director','writer'],axis=1)
new_df.shape

(2573, 21)

(2573, 19)

##### 13. Drop Out Low-Rated and Low-Voted Movies

In [17]:
print(df.shape)
df.drop(df[(df['score'] < 5) & (df['votes'] < 1000)].index, inplace=True)
df.shape

(2573, 21)

(2572, 21)

##### 14. Top High-Rated Movies

In [18]:
top_rated_movies = df.sort_values(by='score',ascending=False).head()
top_rated_movies

,name,rating,genre,year,released,score,votes,director,writer,star,...,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie
5243,The Dark Knight,PG-13,Action,2008,"July 18, 2008 (United States)",9.0,2400000.0,Christopher Nolan,Jonathan Nolan,Christian Bale,...,1.005974e+09,Warner Bros.,152.0,8.209736e+08,81.609856,True,True,True,False,True
2444,Pulp Fiction,R,Crime,1994,"October 14, 1994 (United States)",8.9,1900000.0,Quentin Tarantino,Quentin Tarantino,John Travolta,...,2.139288e+08,Miramax,154.0,2.059288e+08,96.260437,False,True,True,False,True
2247,Schindler's List,R,Biography,1993,"February 4, 1994 (United States)",8.9,1200000.0,Steven Spielberg,Thomas Keneally,Liam Neeson,...,3.221612e+08,Universal Pictures,195.0,3.001612e+08,93.171121,False,True,True,False,True
4245,The Lord of the Rings: The Return of the King,PG-13,Action,2003,"December 17, 2003 (United States)",8.9,1700000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,...,1.146031e+09,New Line Cinema,201.0,1.052031e+09,91.797778,False,True,True,False,True
3845,The Lord of the Rings: The Fellowship of the Ring,PG-13,Action,2001,"December 19, 2001 (United States)",8.8,1700000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,...,8.976901e+08,New Line Cinema,178.0,8.046901e+08,89.640077,False,True,True,False,True

##### 15. Removing Specific Rows

In [19]:
print(df.shape)
df.drop([2,10],inplace=True)
df.shape

(2572, 21)

(2570, 21)

##### 16. Sci-Fi Blockbusters

In [20]:
sci_fi_blockbusters = df[ (df['gross'] > 150_000_000 ) & (df['genre'] == 'Sci-Fi')]
sci_fi_blockbusters[['gross','genre']].head()

            gross   genre
5876  161849455.0  Sci-Fi

##### 17. Age of Movies

In [21]:
df['age'] = 2023 - df['year']
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False,43
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False,43
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False,43
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False,43
5,Friday the 13th,R,Horror,1980,"May 9, 1980 (United States)",6.4,123000.0,Sean S. Cunningham,Victor Miller,Betsy Palmer,...,Paramount Pictures,95.0,39204601.0,98.616512,False,True,False,False,False,43

##### 18. Movies Released in Summer

In [22]:
summer_movies = df[df['released'].str.contains('June|July|August')]
summer_movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False,43
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False,43
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False,43
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False,43
6,The Blues Brothers,R,Action,1980,"June 20, 1980 (United States)",7.9,188000.0,John Landis,Dan Aykroyd,John Belushi,...,Universal Pictures,133.0,88229890.0,76.568580,False,True,False,False,False,43

## End!