## Project: Querying and Filtering Pokemon data

This project will help you practice your pandas querying and filtering skills. Let's begin!

<center>
<img src="https://images.unsplash.com/photo-1605979257913-1704eb7b6246?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
    <p align="center">
        Photo by <a href="https://unsplash.com/@mykelgran?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mikel</a> on <a href="https://unsplash.com/s/photos/pokemon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>.
    </p>
</center>

### Introduction

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("pokemon.csv")

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           721 non-null    int64
 1   Name        721 non-null    object
 2   Type 1      721 non-null    object
 3   Type 2      359 non-null    object
 4   Total       721 non-null    int64
 5   HP          721 non-null    int64
 6   Attack      721 non-null    int64
 7   Defense     721 non-null    int64
 8   Sp. Atk     721 non-null    int64
 9   Sp. Def     721 non-null    int64
 10  Speed       721 non-null    int64
 11  Generation  721 non-null    int64
 12  Legendary   721 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 68.4+ KB

In [5]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,721.00000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,361.00000,417.945908,68.380028,75.124827,70.697642,68.848821,69.180305,65.714286,3.323162
std,208.27906,109.663671,25.848272,29.070335,29.194941,28.898590,26.899364,27.277920,1.669873
min,1.00000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,181.00000,320.000000,50.000000,54.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,361.00000,424.000000,65.000000,75.000000,65.000000,65.000000,65.000000,65.000000,3.000000
75%,541.00000,499.000000,80.000000,95.000000,85.000000,90.000000,85.000000,85.000000,5.000000
max,721.00000,720.000000,255.000000,165.000000,230.000000,154.000000,230.000000,160.000000,6.000000

### Basic Activities

Here's some room for you to practice the basic activities:

In [6]:
df.shape

(721, 13)

In [7]:
df.index

RangeIndex(start=0, stop=721, step=1)

In [8]:
df.columns.size

13

In [9]:
df['Name'].dtype

dtype('O')

### Advanced Activities

##### Select the column `Defense`

In [10]:
defense_col = df['Defense']
defense_col.head()

0    49
1    63
2    83
3    43
4    58
Name: Defense, dtype: int64

##### What's the type of the variable `defense_col`?

In [11]:
type(defense_col)

pandas.core.series.Series

In [12]:
defense_col.dtype

dtype('int64')

##### What's the maximum value of `Attack`?

In [13]:
df['Attack'].max()

165

##### What's the average value for `Speed`?

In [14]:
df['Speed'].mean()

65.71428571428571