In [1]:
import pandas as pd

In [2]:
companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

In [3]:
s = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

In [4]:
s

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64

### Boolean Arrays

In [5]:
s.loc[[
    True,      # Apple
    False,     # Samsung
    True,      # Alphabet
    False,     # Foxconn
    True,      # Microsoft
    False,     # Huawei
    True,      # Dell
    True,      # Meta
    False,     # Sony
    False,     # Hitachi
    True,      # Intel
    True,      # IBM
    False,     # Tencent
    False,     # Panasonic
]]

Apple                274515
Alphabet             182527
Microsoft            143015
Dell Technologies     92224
Meta                  85965
Intel                 77867
IBM                   73620
Name: Top Technology Companies by Revenue, dtype: int64

#### Activities

##### 1. Select only the Japanese companies

In [6]:
#japanese_boolean_array = [False, False, True, False, etc...]
japanese_boolean_array = [
    False,      # Apple
    False,     # Samsung
    False,      # Alphabet
    False,     # Foxconn
    False,      # Microsoft
    False,     # Huawei
    False,      # Dell
    False,      # Meta
    True,     # Sony
    True,     # Hitachi
    False,      # Intel
    False,      # IBM
    False,     # Tencent
    True,     # Panasonic
]

In [7]:
japanese_companies = s[japanese_boolean_array]
japanese_companies

Sony         84893
Hitachi      82345
Panasonic    63191
Name: Top Technology Companies by Revenue, dtype: int64

### Conditional Selection

In [8]:
s

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64

In [9]:
s > 100_000

Apple                 True
Samsung               True
Alphabet              True
Foxconn               True
Microsoft             True
Huawei                True
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                False
IBM                  False
Tencent              False
Panasonic            False
Name: Top Technology Companies by Revenue, dtype: bool

##### What are the companies which revenues exceed the $100 billion dollars?

In [10]:
s.loc[s > 100_000]

Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Huawei       129184
Name: Top Technology Companies by Revenue, dtype: int64

#### Activities

##### 1. Select companies with less than $90,000M in Revenue

In [11]:
less_90_rev = s.loc[s < 90_000]

##### 2. Select companies with revenue of more than $150,000M

In [12]:
more_150_rev = s[s>150_000]

### Combining Series methods with comparison operators

##### Company with the most revenue

In [13]:
s.max()

274515

In [14]:
s.loc[s == s.max()]

Apple    274515
Name: Top Technology Companies by Revenue, dtype: int64

##### Company with the revenue above average:

In [15]:
s.mean()

124420.64285714286

In [16]:
s.loc[s >= s.mean()]

Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Huawei       129184
Name: Top Technology Companies by Revenue, dtype: int64

##### Companies who's revenue is greater than the average + 1 standard deviation:

In [17]:
s.loc[s > (s.mean() + s.std())]

Apple      274515
Samsung    200734
Name: Top Technology Companies by Revenue, dtype: int64

### Boolean Operators

In [18]:
s

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64

#### Companies with revenue greater than `$150,000M` or less than `$80,000M`

##### Revenue greater than `$150,000M`

In [19]:
s > 150_000

Apple                 True
Samsung               True
Alphabet              True
Foxconn               True
Microsoft            False
Huawei               False
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                False
IBM                  False
Tencent              False
Panasonic            False
Name: Top Technology Companies by Revenue, dtype: bool

##### Revenue less than `$80,000M`

In [20]:
s < 80_000

Apple                False
Samsung              False
Alphabet             False
Foxconn              False
Microsoft            False
Huawei               False
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                 True
IBM                   True
Tencent               True
Panasonic             True
Name: Top Technology Companies by Revenue, dtype: bool

##### Putting it altogether:

In [21]:
(s > 150_000) | (s < 80_000)

Apple                 True
Samsung               True
Alphabet              True
Foxconn               True
Microsoft            False
Huawei               False
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                 True
IBM                   True
Tencent               True
Panasonic             True
Name: Top Technology Companies by Revenue, dtype: bool

#### Selecting the companies matching the expression:

In [22]:
s.loc[(s > 150_000) | (s < 80_000)]

Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Intel         77867
IBM           73620
Tencent       69864
Panasonic     63191
Name: Top Technology Companies by Revenue, dtype: int64

#### The NOT (`~`) operator

In [23]:
s.loc[s >= 150_000]

Apple       274515
Samsung     200734
Alphabet    182527
Foxconn     181945
Name: Top Technology Companies by Revenue, dtype: int64

In [24]:
s.loc[~(s < 150_000)]

Apple       274515
Samsung     200734
Alphabet    182527
Foxconn     181945
Name: Top Technology Companies by Revenue, dtype: int64

#### Activities

##### 1. Select companies the companies with the MOST and LESS revenue

In [25]:
most_and_less_rev = s.loc[(s==s.min())|(s==s.max())]
most_and_less_rev

Apple        274515
Panasonic     63191
Name: Top Technology Companies by Revenue, dtype: int64

##### 2. Select companies with revenue between `$80,000M` and `$150,000M`

In [26]:
between_80_and_150 = s.loc[(s>80_000) & (s<150_000)]