In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('words.csv', index_col='Word')

In [3]:
df.head()

        Char Count  Value
Word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

### Activities

##### How many elements does this dataframe have?

In [4]:
len(df)

172821

##### What is the value of the word `microspectrophotometries`?

In [5]:
df.loc['microspectrophotometries']

Char Count     24
Value         317
Name: microspectrophotometries, dtype: int64

##### What is the highest possible value of a word?

In [6]:
df['Value'].max()

319

##### Which of the following words have a Char Count of `7` and a Value of `87`?

In [7]:
df.loc[['glowing', 'superheterodyne', 'microbrew', 'pinfish', 'enfold']]

                 Char Count  Value
Word
glowing                   7     87
superheterodyne          15    198
microbrew                 9    106
pinfish                   7     81
enfold                    6     56

##### What is the highest possible length of a word?

In [8]:
df['Char Count'].max()

28

##### What is the word with the value of `319`?

In [9]:
df.loc[df['Value']==319]

                         Char Count  Value
Word
reinstitutionalizations          23    319

##### What is the most common value?

In [10]:
df['Value'].value_counts().head(5)

Value
93     1965
100    1921
95     1915
99     1907
92     1902
Name: count, dtype: int64

##### What is the shortest word with value `274`?

In [11]:
df[df['Value']==274]

                       Char Count  Value
Word
countercountermeasure          21    274
overprotectivenesses           20    274
psychophysiologically          21    274

##### Create a column `Ratio` which represents the 'Value Ratio' of a word

In [12]:
df['Ratio'] = df['Value']/df['Char Count']

##### What is the maximum value of `Ratio`?

In [13]:
df['Ratio'].max()

22.5

##### What word is the one with the highest `Ratio`?

In [14]:
df.loc[df['Ratio']==22.5]

      Char Count  Value  Ratio
Word
xu             2     45   22.5

##### How many words have a `Ratio` of `10`?

In [15]:
len(df.loc[df['Ratio']==10])

2604

##### What is the maximum `Value` of all the words with a `Ratio` of `10`?

In [16]:
df.loc[df['Ratio']==10,['Value']].max()

Value    240
dtype: int64

##### Of those words with a `Value` of `260`, what is the lowest `Char Count` found?

In [17]:
df.loc[df['Value']==260,['Char Count']].min()

Char Count    17
dtype: int64

##### Based on the previous task, what word is it?

In [18]:
df.loc[(df['Value']==260) & (df['Char Count']==17)]

                   Char Count  Value      Ratio
Word
hydroxytryptamine          17    260  15.294118